.desktop-blog-posts {
  list-style: none;
  margin-top: 0.5rem;
}

.desktop-blog-posts > li {
  margin-top: 0.25rem;
}

.none-desktop-blog-posts {
  margin-top: 0.5rem;
}

.none-desktop-blog-posts > section > span {
  display: block;
}

.none-desktop-blog-posts > section {
  margin-bottom: 1rem;
}
